
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");

:root {
  --md-typeset-a-color:  #49D3BE;
  --md-primary-fg-color: #083342;
  --md-primary-a-color:  #49D3BE;
  --md-accent-fg-color:  #49D3BE;
}
.md-typeset a{
  color: #49D3BE;

}
.md-header-nav__button.md-logo {
  margin: 0rem;
  padding: 0.2rem;
}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
  width: 2rem;
  height: 2rem;
}

.fa {
    font-size: 17px;
    background-color: #cecece;
    padding: 10px;
    padding-left: 10px;
    border-radius: 50%;
    padding-left: 12.5px;
}

img[src*='#center'] { 
  display: block;
  margin: auto;
}

img[src*='#small'] {
  max-width: 360px;
  width: 100%;
  display: block;
  margin: auto;
}
